server:
  port: 8081
  tomcat:
    connection-timeout: 20000
    max-connections: 10000
    threads:
      max: 200
      min-spare: 10
    accept-count: 100

spring:
  application:
    name: USER-SERVICE
  data:
    mongodb:
      uri: mongodb://admin:password123@localhost:27017/social_media_users?authSource=admin
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  kafka:
    bootstrap-servers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    registry-fetch-interval-seconds: 5
  instance:
    hostname: localhost
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
    metadata-map:
      management:
        port: ${server.port}
    home-page-url: http://localhost:${server.port}/
    status-page-url: http://localhost:${server.port}/actuator/info
    health-check-url: http://localhost:${server.port}/actuator/health

jwt:
  secret: bXlTZWNyZXRLZXlGb3JKV1RTaG91bGRCZVZlcnlMb25nQW5kU2VjdXJlMTIzNDU2Nzg5MA==
  expiration: 86400000

file:
  upload-dir: ./uploads
  base-url: http://localhost:8081/files

# Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.user_service: DEBUG
    org.springframework.cloud: DEBUG
    com.netflix.discovery: DEBUG
